<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="http://192.168.0.28:80/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
    <meta name="theme-color" content="#000000" />
</head>

<body>
    <header>
        <section>
            <h1>Chat Lewando54</h1>
        </section>
        <nav>
            <a href='/' class="menu">Strona główna</a>
        </nav>
    </header>
    <div id="login-cont">
        <form action="/register" method="POST" id="login-form">
            <label for="email">E-mail:</label><input type="email" name="email">
            <label for="nickname">Nazwa użytkownika:</label><input type="text" name="nickname">
            <label for="password">Hasło:</label><input type="password" name="password">
            <label for="avatar">Awatar:</label><input type="file" name="avatar">
            <input type="submit" value="Zarejestruj">
        </form>
    </div>
</body>

</html>